<h2><%= t('search_by_title') %></h2>
<% form_tag show_by_title_posts_path, :method => :get do %>
  <fieldset>
    <%= text_field_tag :title, nil, :class => "search_by_title_text" %>
    <%= submit_tag t('search') %>
  </fieldset>
<% end %>
