<script type="text/javascript">
  var vote_link = null;
  function change_vote_value(){
    $(vote_link).next().text(votes);
  }  
</script>

<div id="script">
  <script type="text/javascript">
    var votes = 0;
  </script>
</div>
